
.container {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.card-green {
    border-radius: 1rem;
   background-color: #117718; 
   display: flex;
  margin-bottom: 0.5rem;
}
.card-brown {
    border-radius: 1rem;
    background-color: #8C2C07;
   display: flex;
  margin-bottom: 0.5rem;
}
.card-teal {
    border-radius: 1rem;
   background-color: #007B7F;
   display: flex;
  margin-bottom: 0.5rem;
}

.icon {
  font-size: 4rem;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
}

.content {
    font-size: 1.2rem;
  padding: 15px;
  flex-grow: 1;
}

.content p {
  margin: 5px 0;
}

.highlight {
  font-weight: bold;
}