<div class="flex justify-center items-center min-h-screen bg-gradient-to-b from-blue-600 to-blue-300">
  <form [formGroup]="loginForm" (ngSubmit)="validarLogin()" class="bg-slate-700 p-10 rounded-2xl text-white w-80 shadow-lg space-y-4">
    <div class="flex justify-center">
      <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="Usuario" class="w-20 mb-4">
    </div>
    <h2 class="text-center text-xl font-semibold">Inicio de sesión</h2>

    <div class="form-control">
      <label class="input input-bordered flex items-center gap-2">
<input type="text" placeholder="Usuario" formControlName="usuario" class="grow bg-transparent text-black placeholder-gray-500" />
        ✉️
      </label>
    </div>

    <div class="form-control">
      <label class="input input-bordered flex items-center gap-2">
        <input type="password" placeholder="Contraseña" formControlName="contrasena" class="grow bg-transparent text-black placeholder-gray-500" />
        🔐
      </label>
    </div>

    <button type="submit" class="btn w-full bg-slate-100 text-black hover:bg-slate-200">
      Entrar
    </button>
  </form>
</div>
