<div class="bg-amber-400 text-5xl">
  <h1>Hola amigi&#64;s de Natareno UwU</h1>
  <div class="text-xl">
    <p>Aqui trabajaran su poryecto cualquier duda me preguntan xdxdxd</p>
  </div>
<router-outlet />
<!--
    Aqui seguis con el codigo en el o la importacion de componentes.
    Te recomiendo seguir una estructura bastante organizada.
    A su vez te recomiendo tener buenas extensiones para el desarrollo web... te dejo unas 
    -> Git Lens 
    -> Prettier
    -> angular language service
    -> Angular Snippets
    -> Angular 2 TypeScript Snippets
    -> Angular schematics
    -> indent-rainbow
    -> y sobre todo GitHub Copilot esta neta que te va a servir... Y si
    no tienes la version paga puedes usar el de la universidad o el de la escuela
    en github student developer pack podes pedir el git pro solo  con tu correo de la U
    y neta que te lo recomindo jeje suerte guapo me preguntas cualquier coosa o si alguien ams lee esto
    suerte en su poryecto y cualquier duda me pueden preguntar :3
-->

</div>