<div class="venta-form">
    <!-- FORMULARIO SUPERIOR -->
    <div class="venta-header">
      <div class="form-group">
        <label>Cliente</label>
        <input type="text" placeholder="Buscar cliente" />
        <button class="nuevo-btn" onclick="ventas_modal.showModal()">+ Nuevo</button>
      </div>
  
      <div class="form-group">
        <label>Fecha</label>
        <input type="date" />
      </div>
  
      <div class="form-group">
        <label>Factura No.</label>
        <input type="text" placeholder="Auto-generado" />
      </div>
  
      <div class="form-group">
        <label>Agregar productos</label>
        <button class="buscar-btn">🔍 Buscar producto</button>
        
      </div>
    </div>
  
    <!-- TABLA DE PRODUCTOS -->
    <div class="tabla-container">
      <table class="productos-table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio Unit</th>
            <th>Descuento</th>
            <th>Precio Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>2</td>
            <td>Producto A</td>
            <td>Q10.00</td>
            <td>0%</td>
            <td>Q200.00</td>
          </tr>
          <tr>
            <td>002</td>
            <td>1</td>
            <td>Producto B</td>
            <td>Q15.00</td>
            <td>10%</td>
            <td>13.50</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <dialog id="ventas_modal" class="modal">
      <div class="modal-box">
        <div class="modal-action">
          <form method="dialog" [formGroup]="formularioVentas" (ngSubmit)="onSubmit()">
            <h2 class="font-semibold text-xl">Nuevo Cliente</h2>
            
            <h4 class="text-md font-normal">Datos de la empresa</h4>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Id de la empresa</legend>
              <input type="text" class="input" placeholder="Ingrese el id de la empresa" formControlName="id" />
              <p class="label text-red-500">Requerido</p>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Nombre de la empresa</legend>
              <input type="text" class="input" placeholder="Ingrese el id de la empresa" formControlName="nombre" />
              <p class="label text-red-500">Requerido</p>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Telefono de la empresa</legend>
              <input type="text" class="input" placeholder="Ingrese el id de la empresa" formControlName="telefono" />
              <p class="label text-red-500">Requerido</p>
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">Correo de la empresa</legend>
              <input type="email" class="input" placeholder="Ingrese el id de la empresa" formControlName="correo" />
              <p class="label text-red-500">Requerido</p>
            </fieldset>
            <button class="w-full h-12 p-5 cursor-pointer bg-blue-500">guardar</button>
            <hr />

            
      
            <h3>Datos de contacto</h3>
            <label>Nombre</label>
            <input type="text" placeholder="Nombre de contacto" />
            <label>Teléfono</label>
            <input type="text" placeholder="Teléfono de contacto" />
            <label>Correo</label>
            <input type="email" placeholder="Correo de contacto" />
      
            <div class="btn">
              <button>Cancelar</button>
              <button>Guardar</button>
            </div>
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>

  </div>
  