.venta-form {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.venta-header {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

label {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 4px;
}

input[type="text"],
input[type="date"] {
  padding: 6px 8px;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #ccc;
  color: #000;
}

.nuevo-btn {
  margin-top: 5px;
  background-color: #28a9d7;
  color: white;
  font-weight: bold;
  border: none;
  padding: 6px 6px;
  border-radius: 8px;
  cursor: pointer;
}

.buscar-btn {
  margin-top: 5px;
  background-color: #28a9d7;
  color: white;
  font-weight: bold;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.tabla-container {
  margin-top: 2rem;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; /* Cambia el color de fondo de la tabla */
  color: #000;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.9rem;
}

.productos-table th {
  background-color: #ffffff; /* Cambia el color de fondo de la tabla */
  padding: 10px;
  color: #868383;
}

.productos-table td {
  padding: 10px;
  border-top: 0.8px solid #e6e3e3;
}
/* Modal */
.modal {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-height: 90%;
  overflow-y: auto;
}

.modal-content h2,
.modal-content h3 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #eee;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-buttons button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #ccc;
}

.modal-buttons button:last-child {
  background-color: #28a745;
  color: white;
}
