<div class="container">
    <h1>Historial Compra</h1>
    <div class="headerHistorial">
        <div class="form-group">
        <label>Fecha</label>
        <input type="date" />
        </div>
        <div class="form-group">
        <label>Proveedor</label>
        <select name="menu">
            <option value="0">Seleccione un proveedor</option>
            <option value="1">Uno</option>
            <option value="2">Dos</option>
            <option value="3">Tres</option>
        </select>
        </div>
        <div class="form-group">
        <label>No.Compra</label>
        <!-- Se debe implementar php -->
        <input type="text" placeholder="Buscar por número" />
        </div>
        <div class="form-group">
            <button class="boton"><strong>Buscar</strong></button>
        </div>
        <div class="form-group">
            <select name="menu">
                <option value="0">Ordenar:</option>
                <option value="1">Más reciente primero</option>
                <option value="2">Más antigua primero</option>
                <option value="3">A-Z</option>
                <option value="3">Z-A</option>
            </select>
        </div>
        
    </div>
    <div class="cuerpo">
        <table class="table_w-full">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>No.Compra</th>
                    <th>Total</th>
                    <th>Detalle Compra</th>
                </tr>
            </thead>
            <tbody id="resultadosBusqueda">
                <tr>
                    <td>2023-10-01</td>
                    <td>Proveedor 1</td>
                    <td>12345</td>
                    <td>$100.00</td>
                    <td>
                        <button class="boton"><strong>Ver Detalle</strong></button></td>
                </tr>
                <!-- Agregar más filas según sea necesario -->
            </tbody>
        </table>
    </div>



</div>